<label class="inline" for="input" style="width:100px;">Blf</label>
<select name="Blf" class="form-control">
    <% if !@blf_arr.nil? %>
    	<% @blf_arr.each do |blf| %>
    		<option><%= blf %></option>
    	<% end %>
    <% end %>
</select>