<% if !@device_with_module.nil? %>
	<label class="inline" for="optionsCheckbox">Choose Board HW Module:</label>
	<% @devices.keys.each do |device| %>
		<% @device_with_module.each do |dev| %>
			<% if dev == device %>
		    	<input name="hwmodule" type="radio" value="<%= device %>" onclick="update_testcases('<%= device%>')" /><%= device %>
		    <% end %>
	    <% end %>
	<% end %>
<% end %>