
    <article class="span6">
        <table class="table table-wuxia">
            <thead>
                <tr>
                    <th>scenario</th>
                    <th>status</th>
                    <th>battery(mA)</th>
                    <th>%</th>

                </tr>
            </thead>
            <tbody>
            <% @scenarios = home_get_all_scenarios_info(@image_date,@platform,@branch) %>
            <% @scenarios.each do |scenario| %>
                <% @latest_image_date = home_get_latest_image_date(@image_date,@platform,@branch).image_date %>
                <% @scenarios_1 = home_get_all_scenarios_info(@latest_image_date,@platform,@branch) %>
                <% @scenarios_1.each do |scenario_1| %>
                    <% if get_scenario_name(scenario_1.power_scenario_id).last.name==get_scenario_name(scenario.power_scenario_id).last.name %>
                        <tr>
                            <td><%= get_scenario_name(scenario_1.power_scenario_id).last.name %></td>
                            <td>
                                <% if scenario.battery > scenario_1.battery%>
                                <font color="red" style="font-size:20px;font-weight:bold;text-align:center;">&#8593;</font>
                                <% else %>
                                <font color="green" style="font-size:20px;font-weight:bold;text-align:center;">&#8595;</font>
                                <% end %>
                            </td>
                            <td><%= scenario.battery %></td>
                            <td><%= ((((scenario.battery.to_f)-(scenario_1.battery.to_f))/(scenario_1.battery.to_f))*100).round(2) %>%</td>
                        </tr>
                    <% end %>
                <% end %>
             <% end %>
            </tbody>
        </table>
        <!--/table of task list-->
    </article>
