

<div class="page-header">
        <h1><span>Welcome to APSE Home Page</span></h1>
</div>
    <!-- page-container -->
    <div class="page-container tab-content"  >

        <!-- Tab #basic -->
        <div class="tab-pane active" id="basic">
            <!-- Grid row -->
            <div class="row">
            <form METHOD=POST ACTION="" name="form1">
                <article class="span4">
                    <h3>Select Platform</h3>
                                <select NAME="Platform" id="Platform" onChange="getBranch()">
                                    <option VALUE="eden">eden </option>
                                    <option VALUE="pxa1908">pxa1908 </option>
                                    <option VALUE="pxa1928">pxa1928 </option>
                                    <option VALUE="pxa1288">pxa1288 </option>
                                    <option VALUE="pxa1U88">pxa1U88 </option>
                                </select>
                </article>
                <article class="span4">
                    <h3>Select Branch</h3>
                                <select NAME="Branch" id="Branch">
                                    <option VALUE="0">kk4.4 </option>

                                </select>
                </article>
            </form>
                <!-- Page grid cell (6 blocks - full) -->
                <article class="span6">
                    <!-- Example jQuery FullCalendar -->
                    <div class='full-calendar ' onclick="javascript:update_scenario_by_task('image_date','platform','branch')"></div>

                    <!-- table of daily power -->
                    <h2><span class="icon-hand-down"></span><div id="todays"></div>Daily Power</h2>
                    <div id="container">
                   <!-- table of task list -->


                    <!-- scenario table of task -->
                <div id="task_scenario">
                <%= render :partial => 'index' %>
                </div>
                    </div>
                    <div>
                     <p><span class="loading" data-original-title="Loading, please wait…">Loading…</span> </p>
                    </div>
                </article>

                <article class="span6">
                <div id="container1">
                    <h2><span class="icon-hand-right"></span>&nbsp;Smoke test result</h2>
                    <p>today new issues num:6</p>
                    <div id="accordion1" class="accordion">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" href="#collapseOne" data-parent="#accordion1" data-toggle="collapse"> <div id="titleg">2014_12_5-pxa1908_kk44</div></a>
                            </div>
                            <div id="collapseOne" class="accordion-body in collapse" style="height: auto;">
                                <div class="accordion-inner">
                                    <div id="smoketest">
                                        <h3 style="font-family:arial;color:red">New Issues</h3>
                                        <font style="font-family:arial">
                                            <b style="font-family:arial">[Camera]</b>
                                                <br>
                                                    <ul>
                                                        <li>
                                                            <font color="#ff0000" size="2">The raw capture test is falled.[2014-11-30]</font>
                                                        </li>
                                                        <li>
                                                            <font color="#ff0000" size="2">The camera 480p-&gt;1080p resolution i<span class="hps" closure_uid_951872314="328">n the</span> <span class="hps" closure_uid_951872314="329">recording</span> <span class="hps" closure_uid_951872314="330">mode</span>, camera app exit.[2014-11-30]</font>
                                                        </li>
                                                        <li>
                                                            <font size="2" color="#ff1493">Reappears:The camera&nbsp;<span class="hps" closure_uid_951872314="374">Switching</span> <span class="hps" closure_uid_951872314="375">mode</span>&nbsp;camera app exit.[2014-11-30]</font>
                                                        </li>
                                                    </ul>
                                        </font>
                                        <h3 style="font-family:arial;color:red">Remaining Issues</h3>
                                        <font style="font-family:arial">
                                            <b style="font-family:arial">[Audio]</b>
                                        </font>
                                    </div>
                                    <a href="/smoketest/index"><button class="btn btn-primary">Detailed</button></a>

                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" href="#collapseTwo" data-parent="#accordion1" data-toggle="collapse"> <div id="titleg1">2014_12_5-pxa1908_kk44</div> </a>
                            </div>
                            <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
                                <div class="accordion-inner"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" href="#collapseThree" data-parent="#accordion1" data-toggle="collapse"> <div id="titleg2">2014_12_5-pxa1908_kk44</div></a>
                            </div>
                            <div id="collapseThree" class="accordion-body collapse" style="height: 0px;">
                                <div class="accordion-inner"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua puta bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
                            </div>
                            <div class="accordion-heading">
                                <a class="accordion-toggle" href="#collapseThree" data-parent="#accordion1" data-toggle="collapse"> <div id="titleg2">2014_12_5-pxa1908_kk44</div></a>
                            </div>
                            <div id="collapseThree" class="accordion-body collapse" style="height: 0px;">
                                <div class="accordion-inner"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua puta bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
                            </div>
                            <div class="accordion-heading">
                                <a class="accordion-toggle" href="#collapseThree" data-parent="#accordion1" data-toggle="collapse"> <div id="titleg2">2014_12_5-pxa1908_kk44</div></a>
                            </div>
                            <div id="collapseThree" class="accordion-body collapse" style="height: 0px;">
                                <div class="accordion-inner"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua puta bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. </div>
                            </div>
                        </div>
                    </div>
                        </div>
        <p><span class="loading" data-original-title="Loading, please wait…">Loading…</span> </p>
                </article>
                <!-- /Page grid cell (6 blocks - full) -->

            </div>
            <!-- /Grid row -->
        </div>
        <!-- Tab #basic -->

    </div>
    <!-- /page-container -->

<script>
    $(document).ready(function() {
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();
        var h = date.getHours();
        var todays1 = " ";
                todays1+=date.getFullYear()+"/";
            todays1+=(date.getMonth()+1)+"/";
                todays1+=date.getDate();
        document.getElementById("todays").innerHTML = todays1;
        $('.full-calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,basicWeek,basicDay'
            },
            defaultDate:'today',
            selectable:true,
            selectHelper : true,
            select : function(start,end){
                /*var title = prompt('Event Title:');*/
                var today ="";
                today+=start.getFullYear()+"-";
                today+=(start.getMonth()+1)+"-";
                if(start.getDate()<10){
                    today+="0"+start.getDate();
                }else{
                    today+=start.getDate();
                }
                /*alert("this's  "+today);*/
                var obj;
                obj=document.getElementById("todays");
                obj.innerHTML=today;
                document.getElementById("yearday").innerHTML = yearday;
                var titlegs;
                var branchvl=document.getElementById("Branch");
                var Platformvl=document.getElementById("Platform");
                var branchvalue=branchvl.options[branchvl.selectedIndex].text;
                var Platformvalue=Platformvl.options[Platformvl.selectedIndex].text;
                titlegs=document.getElementById("titleg");
                titlegs1=document.getElementById("titleg1");
                titlegs2=document.getElementById("titleg2");
                titlegs.innerHTML = today+"-"+Platformvalue+"_"+branchvalue;
                titlegs1.innerHTML = today+"_1-"+Platformvalue+"_"+branchvalue;
                titlegs2.innerHTML = today+"_2-"+Platformvalue+"_"+branchvalue;

            },

            eventLimit: true,
            editable: true,
            buttonText: {
                prev: '<span class="icon-circle-arrow-left"></span>',
                next: '<span class="icon-circle-arrow-right"></span>'
            },
            businessHours: true, // display business hours
            editable: true,
            events: [
                {
                    title: '',
                    overlap: false,
                    start: '2014-12-13T11:00:00',
                    end:'2014-12-13T11:00:00',
                    constraint: 'availableForsmoketest', // defined below
                    color: 'red',
                    size:'2px'

                },
                {
                    title: '',
                    start: '2014-12-13T11:00:00',
                    end: '2014-12-13T11:00:00',
                    overlap: false,
                    constraint: 'availableForMeeting', // defined below
                    color: 'green'
                },
                {
                    title: '',
                    start: '2014-12-14T11:00:00',
                    end: '2014-12-14T11:00:00',
                    overlap: false,
                    constraint: 'availableForMeeting', // defined below
                    color: '#FF00FF'
                },
                {
                    title: '',
                    start: '2014-12-15T11:00:00',
                    end: '2014-12-15T11:00:00',
                    overlap: false,
                    constraint: 'availableForMeeting', // defined below
                    color: '#EEFFAF'
                }
            ]

        });

        $('.full-calendar-gcal').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,basicWeek,basicDay'
            },
            buttonText: {
                prev: '<span class="icon-arrow-left"></span>',
                next: '<span class="icon-arrow-right"></span>'
            },
            events: {
                url: 'http://www.google.com/calendar/feeds/usa__en%40holiday.calendar.google.com/public/basic',
                className: 'gcal-event', // an option!
                currentTimezone: 'America/Chicago' // an option!
            }
        });

    });
</script>
<script language="JavaScript" type="text/javascript">
//Define the Branch of two-dimensional arrays, in order to the order of the Platform is the same.Through selectedIndex Platform to get the value of the corresponding Branch array
    var Branch=[
        ["kk4.4","kk4.4_k314alpha1"],
        ["kk4.4","kk4.4_alpha2","kk4.4_beta1","kk4.4_beta2","lp5.0"],
        ["jb43_beta1","kk4.4","kk4.4_k310beta1","kk4.4_k310beta2","kk4.4_k310beta3"],
        ["kk4.4"]
    ];
    function getBranch(){
        //获得Platform下拉框的对象
        var sltPlatform=document.form1.Platform;
        //获得Branch下拉框的对象
        var sltBranch=document.form1.Branch;
        //得到对应Platform的Branch数组
        var PlatformBranch=Branch[sltPlatform.selectedIndex - 1];
        //清空Branch下拉框，仅留提示选项
        sltBranch.length=1;
        //将Branch数组中的值填充到Branch下拉框中
         for(var i=0;i<PlatformBranch.length;i++){
        sltBranch[i+1]=new Option(PlatformBranch[i],PlatformBranch[i]);
        }
    }
</script>
</script>
<script language="JavaScript">
function update_scenario_by_task(image_date,platform,branch){
               image_date = document.getElementById("todays").innerHTML;
                var branchvl=document.getElementById("Branch");
                var Platformvl=document.getElementById("Platform");
                branch=branchvl.options[branchvl.selectedIndex].text;
                platform=Platformvl.options[Platformvl.selectedIndex].text;
    var task_url = "get_platform_detail?image_date="+image_date+"&platform="+platform+"&branch="+branch;
    $.ajax({
        type: "GET",
        url: task_url,
        success: function(msg){
            $("#task_scenario").html("");
            $("#task_scenario").html(msg);
        }
    });
}
</script>
<script type="text/javascript">
var strURL="/smoketest/php/showissuedetail.php?getflag=2&dailytest_id="lp50";
    $.ajax({
        type: "get",
        url:strURL,
        success: function(data){
            $("#smoketest").html("");
            $("#smoketest").html(data);//data就是请求页面的内容....
        }
    });
</script>

<script type="text/javascript">
    var totalheight = 0;     //定义一个总的高度变量
    function loadData()
    {
    totalheight = parseFloat($(window).height()) + parseFloat($(window).scrollTop());     //浏览器的高度加上滚动条的高度

    if ($(document).height() <= totalheight)     //当文档的高度小于或者等于总的高度的时候，开始动态加载数据
    {
        //加载数据
        ("#container").append("我是新加载出来的数据<br/>");
        $("#container1").append("我是新加载出来的数据<br/>");
    }
}

$(window).scroll( function() {
console.log("滚动条到顶部的垂直高度: "+$(document).scrollTop());
onsole.log("页面的文档高度 ："+$(document).height());
console.log('浏览器的高度：'+$(window).height());
loadData();
});
