
<%snplatform_list=[]%>
<div class="page-container tab-content">
    <div class="tab-pane active" id="basic">
        <div class="row">
            <article class="span6">
                <div class='full-calendar '></div>
                 <h3>
                    <span class="icon-hand-right"></span>&nbsp;Smoke Test Detail
                </h3>
                <div id="accordion1" class="accordion">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle"
                                data-parent="#accordion1" data-toggle="collapse">
                                <div style="height:15px;">
                                    <span style="width:90%;float:left;" id="title_smoketest"></span>
                                    <span style="width:4%;float:left;"onclick="openstr()" class=" icon-folder-open" title="image link"></span>
                                    <span style="float:right;width:4%;"onclick="submit_smoke()" data-toggle="modal" href="#demoModal" class="icon-fullscreen"title="details"></span>
                                </div>
                            </a>
                        </div>
                        <div style="height: auto;">
                            <div>
                                <div id="smoketest_result"></div>
                               <div class="modal fade hide" id="demoModal" style="display: none;">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">×</button>
                                        <h5>Smoke Test Detail</h5>
                                    </div>
                                    <div class="modal-body">
                                       <div id ="smoke_detailed"></div>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="#" class="btn btn-wuxia btn-primary" data-dismiss="modal">Close</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id ="sub_date" style="display:none;"></div>
                <div id ="show_smoketest" style="display:none;"></div>
            </article>
            <article class="span6">
                <form method=post action="" name="form1" class="span6">
                    <span>
                        Platform
                        <select style="width:20%;" name="Platform" onChange="getBranch();show_smoketest_calendar();update_calendar();update_scenario_by_task()" id="Platform" class="form-control">
                            <%snplatform_list=['pxa1936','pxa1928','pxa1928ff','pxa1920','pxa988','pxa1908','pxa1908FF',]%>
                            <%snplatform_list.each do |snplatform_list|%>
                                <option value="<%=snplatform_list %>"><%=snplatform_list.upcase %></option>
                            <% end %>
                        </select>
                    </span>
                    <span style="margin-left:2%;">
                        Branch
                        <select style="width:20%;" name="Branch" id="Branch" onclick="update_calendar();update_scenario_by_task()" onchange="show_smoketest_calendar()" class="form-control">
                        </select>
                    </span>
                    <span style="margin-left:2%;">
                        Device
                        <select style="width:20%;" name="Device" id="Device" onclick="update_calendar();update_scenario_by_task()" onchange="show_smoketest_calendar()" class="form-control">
                        </select>
                    </span>
                </form>
                <span class="span6" style="margin-top:-2%;">
                <h3>
                    <span class="icon-hand-right"></span>&nbsp;Daily Power
                </h3>
                <div id="task_scenario"></div>
                </span>
            </article>
        </div>
    </div>
</div>
</div>
<div id ="build_image" style="display:none;"></div>
<script>
    $(document).ready(function() {
        getBranch();
        var show_smoketest = $("#show_smoketest").text();
        var smoke_date =  new Array();
        smoke_date = show_smoketest.split(",");
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();
        var h = date.getHours();
        var todays_smoketest = "";
                todays_smoketest+=date.getFullYear()+"-smoke_date";
                if((date.getMonth()+1)<10){
                    todays_smoketest+="0"+(date.getMonth()+1)+"-";
                }else{
                    todays_smoketest+=(date.getMonth()+1)+"-";
                }
                if(date.getDate()<10){
                    todays_smoketest+="0"+date.getDate();
                }else{
                    todays_smoketest+=date.getDate();
                }
        var branch=$("#Branch").val();
        var platform=$("#Platform").val();
        var device = $("#Device").val();
                branch = branch.replace(/(^\s*)|(\s*$)/g,"");
                platform = platform.replace(/(^\s*)|(\s*$)/g,"");
                device = device.replace(/(^\s*)|(\s*$)/g,"");
                $("#title_smoketest").text(todays_smoketest+"_"+platform+"_"+branch+"_"+device);
                $("#sub_date").text(todays_smoketest);
                update_scenario_by_task(todays_smoketest);
                update_calendar();
                show_smoketest_calendar();
                update_scenario_code();
    });
</script>
<script language="JavaScript" type="text/javascript">
function update_scenario_by_task(image_date){
            var imgid = new Image();
            imgid.src ="../images/icons/loading_blue.gif";
            $("#task_scenario").html(imgid);
                branch=$("#Branch").val().toLowerCase();
                platform=$("#Platform").val().toLowerCase();
                device = $("#Device").val().toLowerCase();
                branch = branch.replace(/(^\s*)|(\s*$)/g,"");
                platform = platform.replace(/(^\s*)|(\s*$)/g,"");
                device = device.replace(/(^\s*)|(\s*$)/g,"");
                var task_url = "/home/get_platform_detail?image_date="+image_date+"&platform="+platform+"&branch="+branch+"&device="+device;
    $.ajax({
        type: "GET",
        url: task_url,
        success: function(msg){
            $("#task_scenario").html("");
            $("#task_scenario").html(msg);
        }
    });
}

function update_scenario_code(){
    var platform;
    $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
        platform = $(this).text();
        var task_url = "get_code_drop?platform="+platform;
        $.ajax({
                type: "GET",
                url: task_url,
                success: function(msg){
                }
        });
        $(this).text().remove();
    });
    platform = "pxa1936";
    var task_url = "/home/get_code_drop?platform="+platform;
    $.ajax({
        type: "GET",
        url: task_url,
        success: function(msg){
        }
    });
}

function update_calendar(){
                branch=$("#Branch").val();
                platform=$("#Platform").val();
                device = $("#Device").val();
                show_smoketest = $("#show_smoketest").text();
                branch = branch.replace(/(^\s*)|(\s*$)/g,"");
                platform = platform.replace(/(^\s*)|(\s*$)/g,"");
                device = device.replace(/(^\s*)|(\s*$)/g,"");

    $.ajax({
        type: "GET",
        url: '/home/update_calendar?platform='+platform+'&branch='+branch+'&device='+device+'&show_smoketest='+show_smoketest,
        success: function(msg){

        }
    });
}

function show_issue_detail(image_date){
            var imgid = new Image();
            imgid.src ="../images/icons/loading_blue.gif";
            $("#smoketest_result").html(imgid);
                branch=$("#Branch").val().toUpperCase();
                platform=$("#Platform").val().toUpperCase();
                device = $("#Device").val().toUpperCase();
                branch = branch.replace(/[\ |\_|\.]/g,"");
                platform = platform.replace(/(^\s*)|(\s*$)/g,"");
                device = device.replace(/[\ |\_|\.]/g,"");
                branch = branch.replace("MASTER","");
                platform= platform.replace("FF","");
    $.ajax({
        type: "POST",
        url:'http://10.38.116.60/smoketest/php/searchstateresult.php',
        data:{platform:platform, branch:branch,prodoct:device,reportdate:image_date,mode:1},
        success: function(data){
            $("#smoketest_result").html("");
            $("#smoketest_result").html(data);//data就是请求页面的内容....
        }
    });
}

function show_smoketest_calendar(){
            var branch=$("#Branch").val().toUpperCase();
            var platform=$("#Platform").val().toUpperCase();
            var  device = $("#Device").val().toUpperCase();
            branch = branch.replace(/[\ |\_|\.]/g,"");
            platform = platform.replace(/(^\s*)|(\s*$)/g,"");
            branch = branch.replace("MASTER","");
            platform= platform.replace("FF","");
    $.ajax({
        type: "GET",
        url:"http://10.38.116.60/smoketest/php/searchstateresult.php?platform="+platform+"&branch="+branch+"&prodoct="+device+"&mode=2",
        success: function(data){
            $("#show_smoketest").html("");
            $("#show_smoketest").html(data);//data就是请求页面的内容....
            //console.log(data);
        }
    });

}
function submit_smoke(image_date){
                branch=$("#Branch").val().toUpperCase();
                platform=$("#Platform").val().toUpperCase();
                device = $("#Device").val().toUpperCase();
                var image_date = $("#sub_date").text();
                branch = branch.replace(/[\ |\_|\.]/g,"");
                platform = platform.replace(/(^\s*)|(\s*$)/g,"");
                device = device.replace(/[\ |\_|\.]/g,"");
                branch = branch.replace("MASTER","");
                platform= platform.replace("FF","");
    $.ajax({
        type: "GET",
        url: "http://10.38.116.60/smoketest/php/searchstateresult.php?reportdate="+image_date+"&platform="+platform+"&branch="+branch+"&prodoct="+device,
        success: function(msg){
              $("#smoke_detailed").html("");
            $("#smoke_detailed").html(msg);//msg...

        }
    });
}
        var Branch = [
                <% snplatform_list.each do |scenariosp| %>
            [
                <%@scenariosbranch = get_all_branch(scenariosp) %>
                <% @scenariosbranch.each do |scenariosb| %>
                                "<%=scenariosb.branch.upcase%>",
                   <% end %>
            ],
            <% end %>
        ];
        var Device = [
                <% snplatform_list.each do |scenariosp| %>
            [
                <%@scenariosdevice = get_all_device(scenariosp) %>
                <% @scenariosdevice.each do |scenariosdevice| %>
                                "<%=scenariosdevice.device.upcase%>",
                   <% end %>
            ],
            <% end %>
        ];
        function getBranch(){
            var sltPlatform=document.form1.Platform;
            var sltBranch=document.form1.Branch;
            var sltDevice=document.form1.Device;
            var PlatformBranch=Branch[sltPlatform.selectedIndex];
            var PlatformDevice=Device[sltPlatform.selectedIndex];
            sltBranch.length=1;
            sltDevice.length=1;
             for(var i=0;i<PlatformBranch.length;i++){
            sltBranch[i]=new Option(PlatformBranch[i],PlatformBranch[i]);
            }
             for(var i=0;i<PlatformDevice.length;i++){
            sltDevice[i]=new Option(PlatformDevice[i],PlatformDevice[i]);
            }
        }
        function openstr() {
            var branch=$("#Branch").val();
            var platform=$("#Platform").val();
            var device = $("#Device").val();
            var image_date= $("#sub_date").text();
            var build_much=0;
            var buid_images = new Array ();
            var buid_iamge_list = $("#build_image").text().replace(/&quot;|\[|\]/g,"");
            buid_images = buid_iamge_list.split(",");
            branch=branch.replace(/(^\s*)|(\s*$)/g,"");
            platform = platform.replace(/(^\s*)|(\s*$)/g,"");
            branch = branch.replace("_MASTER","");
            platform = platform.replace("FF","");
            platform = platform.replace("ff","");
            if(platform=="pxa1908"&&branch=="LP5.0"){
                platform="pxa1936";
            }
            var url="ftp://10.38.32.174/autobuild/android/"+platform+"/"+image_date+"_"+platform+"-"+branch;
            for(var i=0;i<buid_images.length;i++){
                if(image_date==buid_images[i].replace(/(^\s*)|(\s*$)/g,"")){
                    build_much=build_much+1;
                }
            }
                if(build_much>0){
                    window.open(url,"image:","modal=yes,width=900,height=600,top=200,left=100,directories=no,toolbar=yes,location=no,titlebar=yes,scrollbars =yes");
                }else{
                    window.open("ftp://10.38.32.174/autobuild/android/"+platform,"image:","modal=yes,width=900,height=600,top=200,left=100,directories=no,toolbar=yes,location=no,titlebar=yes,scrollbars =yes");
                }
        }
    </script>
