
update_scenario_by_task("");
$('.full-calendar').html("");
var date = new Date();
var d = date.getDate();
var m = date.getMonth();
var y = date.getFullYear();
var h = date.getHours();
var todays1 = "";
todays1 += date.getFullYear() + "-";
todays1 += (date.getMonth() + 1) + "-";
todays1 += date.getDate();
var branch = $("#Branch").val();
var platform = $("#Platform").val();
var device = $("#Device").val();
branch = branch.replace(/(^\s*)|(\s*$)/g, "");
platform = platform.replace(/(^\s*)|(\s*$)/g, "");
device = device.replace(/(^\s*)|(\s*$)/g, "");
$("#titleg").text(todays1 + "_" + platform + "_" + branch + "_" + device);
$('.full-calendar').fullCalendar(
        {
            header : {
                left : 'prev,next today',
                center : 'title',
                right : 'month,basicWeek,basicDay'
            },
            defaultDate : 'today',
            selectable : true,
            selectHelper : true,
            select : function(start, end) {
                /*var title = prompt('Event Title:');*/
                var today = "";
                today += start.getFullYear() + "-";
                if ((start.getMonth() + 1) < 10) {
                    today += "0" + (start.getMonth() + 1) + "-";
                } else {
                    today += (start.getMonth() + 1) + "-";
                }
                if (start.getDate() < 10) {
                    today += "0" + start.getDate();
                } else {
                    today += start.getDate();update_scenario_by_task("");
                    $('.full-calendar').html("");
                    var date = new Date();
                    var d = date.getDate();
                    var m = date.getMonth();
                    var y = date.getFullYear();
                    var h = date.getHours();
                    var todays1 = "";
                    todays1+=date.getFullYear()+"-";
                    todays1+=(date.getMonth()+1)+"-";
                    todays1+=date.getDate();
                    var branch=$("#Branch").val();
                    var platform=$("#Platform").val();
                    var device = $("#Device").val();
                    branch = branch.replace(/(^\s*)|(\s*$)/g,"");
                    platform = platform.replace(/(^\s*)|(\s*$)/g,"");
                    device = device.replace(/(^\s*)|(\s*$)/g,"");
                    $("#titleg").text(todays1+"_"+platform+"_"+branch+"_"+device);
                $('.full-calendar').fullCalendar({
                        header: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'month,basicWeek,basicDay'
                        },
                            defaultDate:'today',
                            selectable:true,
                            selectHelper : true,
                        select : function(start,end){
                            /*var title = prompt('Event Title:');*/
                            var today ="";
                            today+=start.getFullYear()+"-";
                            if((start.getMonth()+1)<10){
                                today+="0"+(start.getMonth()+1)+"-";
                            }else{
                                today+=(start.getMonth()+1)+"-";
                            }
                            if(start.getDate()<10){
                                today+="0"+start.getDate();
                            }else{
                                today+=start.getDate();
                            }
                            update_scenario_by_task(today);
                            show_issue_detail(today);
                            var branch=$("#Branch").val();
                            var platform=$("#Platform").val();
                            var device=$("#Device").val();
                            $("#titleg").html("");
                            $("#titleg").append(today+"_"+platform+"_"+branch+"_"+device);
                        },
                        eventLimit: true,
                        editable: false,
                        buttonText: {
                            prev: '<span class="icon-circle-arrow-right"></span>',
                            next: '<span class="icon-circle-arrow-left"></span>'
                        },
                        businessHours: true, // display business hours
                        editable: false,
                        events: [
                        //<%@scenariosplatform = get_all_data(@platform,@branch,@device) %>
                        //<% @scenariosplatform.each do |scenariosp| %>
                            {
                                title: 'power',
                                overlap: false,
                                start:"<%=scenariosp.image_date%>",
                                end:"<%=scenariosp.image_date%>",
                                color:'red',
                            },
                       //<% end %>
                           {
                           }
                        ]
                    });
                    $('.full-calendar-gcal').fullCalendar({
                        header: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'month,basicWeek,basicDay'
                        },
                        buttonText: {
                            prev: '<span class="icon-arrow-left"></span>',
                            next: '<span class="icon-arrow-right"></span>'
                        },
                    });

                }
                update_scenario_by_task(today);
                show_issue_detail(today);
                var branch = $("#Branch").val();
                var platform = $("#Platform").val();
                var device = $("#Device").val();
                $("#titleg").html("");
                $("#titleg").append(
                        today + "_" + platform + "_" + branch + "_"
                                + device);
            },
            eventLimit : true,
            editable : false,
            buttonText : {
                prev : '<span class="icon-circle-arrow-right"></span>',
                next : '<span class="icon-circle-arrow-left"></span>'
            },
            businessHours : true, // display business hours
            editable : false,
            events : [
            //<%@scenariosplatform = get_all_data(@platform,@branch,@device) %>
            //<% @scenariosplatform.each do |scenariosp| %>
            {
                title : 'power',
                overlap : false,
                start : "<%=scenariosp.image_date%>",
                end : "<%=scenariosp.image_date%>",
                color : 'red',
            },
            //<% end %>
            {} ]
        });
$('.full-calendar-gcal').fullCalendar({
    header : {
        left : 'prev,next today',
        center : 'title',
        right : 'month,basicWeek,basicDay'
    },
    buttonText : {
        prev : '<span class="icon-arrow-left"></span>',
        next : '<span class="icon-arrow-right"></span>'
    },
});
