<div class="page-header">
	<h1><span>Compare</span></h1>
</div>
<!--top-->
	<div id="top">
		<!-- Grid row-->
			<div class="row">
				<h2><span>Select Daily</span></h2>
				<ul id="up">
					<li>
						<form METHOD=POST ACTION="" name="form1">
							<article class="span2">
					 			<select NAME="Platform" onChange="getBranch()">
					  				<option VALUE="0">Platform </option>
					  				<option VALUE="eden">eden </option>
					 				<option VALUE="pxa1908">pxa1908 </option>
					  				<option VALUE="pxa1928">pxa1928 </option>
					  				<option VALUE="pxa1288">pxa1288 </option>
					  				<option VALUE="pxa1U88">pxa1U88 </option>
					  			</select>
							</article>
							<article class="span2">
					 			<select NAME="Branch">
			  						<option VALUE="0">Branch </option>
					  			</select>
	  						</article>
						</form>
					</li>
					<li id="datep">
						<div id="datepicker">
							<form>
								<fieldset>
									<div  style="background-color:#FFFFFF">
										<div class="controls">
											<div class="input-append" onload="showLeftTime()" >
												<input value="26/11/2014" class="datepicker" style="width: 80px;"type="text">
												<span class="add-on"><i class="icon-calendar"></i></span>
											</div>
										</div>
									</div>
								</fieldset>
							</form>
						</div>
						<input  id ="sub"type="submit" value="compare" class="btn btn-info btn-wuxia">
					</li>
				</ul>
			</div>
		<!--Grid row-->
			<div  class="row">
				<div id="ond">
					<h2><span>Select Ondemand</span></h2>
					<input type="text" name="ondemand" >
					<button   class="btn btn-info btn-wuxia">Compare</button>
				</div>
			</div>
	</div>
<!--top-->
<!--mian-->
	<div class="container" role="main">
		<div class="span11">
			<table class="table table-wuxia">
									<thead>
										<tr>
											<th>Image Date</th>
											<th>Platform</th>
											<th>Device</th>
											<th>Branch</th>
											<th>Purpose</th>
											<th>Submitter</th>
											<th>scenario</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>27/11/2014</td>
											<td>73</td>
											<td>1239</td>
											<td>8621</td>
											<td>1</td>
											<td>73</td>
											<td>1239</td>
											<td><span class="icon-remove"></span></td>
										</tr>
										<tr>
											<td>27/11/2014</td>
											<td>73</td>
											<td>1239</td>
											<td>8621</td>
											<td>1</td>
											<td>73</td>
											<td>1239</td>
											<td><span class="icon-remove"></span></td>
										</tr>
										<tr>
											<td>27/11/2014</td>
											<td>73</td>
											<td>1239</td>
											<td>8621</td>
											<td>1</td>
											<td>73</td>
											<td>1239</td>
											<td><span class="icon-remove"></span></td>
										</tr>
										<tr>
											<td>27/11/2014</td>
											<td>73</td>
											<td>1239</td>
											<td>8621</td>
											<td>1</td>
											<td>73</td>
											<td>1239</td>
											<td><span class="icon-remove"></span></td>
										</tr>
										<tr>
											<td>27/11/2014</td>
											<td>73</td>
											<td>1239</td>
											<td>8621</td>
											<td>1</td>
											<td>73</td>
											<td>1239</td>
											<td><span class="icon-remove"></span></td>
										</tr>
										<tr>
											<td>27/11/2014</td>
											<td>73</td>
											<td>1239</td>
											<td>8621</td>
											<td>1</td>
											<td>73</td>
											<td>1239</td>
											<td><span class="icon-remove"></span></td>
										</tr>
										<tr>
											<td>27/11/2014</td>
											<td>73</td>
											<td>1239</td>
											<td>8621</td>
											<td>1</td>
											<td>73</td>
											<td>1239</td>
											<td><span class="icon-remove"></span></td>
										</tr>
										<tr>
											<td>27/11/2014</td>
											<td>73</td>
											<td>1239</td>
											<td>8621</td>
											<td>1</td>
											<td>73</td>
											<td>1239</td>
											<td><span class="icon-remove"></span></td>
										</tr>
										<tr>
											<td>27/11/2014</td>
											<td>73</td>
											<td>1239</td>
											<td>8621</td>
											<td>1</td>
											<td>73</td>
											<td>1239</td>
											<td><span class="icon-remove"></span></td>
										</tr>
									</tbody>
								</table>
		</div>
		<div style="text-align: center; background-color:#FFFFFFF;">
			<!-- 选项卡开始 -->
				<div class="nTab">
			<!-- 标题开始 -->

			<div class="TabTitle">
				<ul id="myTab0">
					<li class="active" onclick="nTabs(this,0);">All</li>
					<li class="normal" onclick="nTabs(this,1);">video</li>
					<li class="normal" onclick="nTabs(this,2);">lpm</li>
					<li class="normal" onclick="nTabs(this,3);">audio</li>
					<li class="normal" onclick="nTabs(this,4);">camera</li>
					<li class="normal" onclick="nTabs(this,5);">game</li>
					<li class="normal" onclick="nTabs(this,6);">UI</li>
					<li class="normal" onclick="nTabs(this,7);">wifi_bt</li>
					<li class="normal" onclick="nTabs(this,8);">telephony</li>
					<li class="normal" onclick="nTabs(this,9);">benchmark</li>
					<li class="normal" onclick="nTabs(this,10);">browsing</li>
				</ul>
			</div>
			<!-- 内容开始 -->
			<center>
			<article>
				<div id="accordion1" class="accordion">
					<div class="accordion-group">
						<div  class="chartline">
							<span class="icon-hand-right"></span> 
							<a class="accordion-toggle"href="#collapseTwo" 
							data-parent="#accordion1"data-toggle="collapse">CHART</a>
						</div>
						<div id="collapseTwo" class="accordion-body in collapse"
						style="height: auto;">
						<div class="TabContent">
							<div id="demo-content">
								<div id="demo-content-container">
									<div id="demo-chart">
										<div id="myTab0_container0" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
										<div id="myTab0_container1" class="none"
											style="min-width: 75%; height: 600px; margin: 0 auto">
										</div>
										<div id="myTab0_container2" class="none"
											style="min-width: 75%; height: 600px; margin: 0 auto">
										</div>
										<div id="myTab0_container3" class="none"
											style="min-width: 75%; height: 600px; margin: 0 auto">
										</div>
										<div id="myTab0_container4" class="none"
											style="min-width: 75%; height: 600px; margin: 0 auto">
										</div>
										<div id="myTab0_container5" class="none"
											style="min-width: 75%; height: 600px; margin: 0 auto">
										</div>
										<div id="myTab0_container6" class="none"
											style="min-width: 75%; height: 600px; margin: 0 auto">
										</div>
										<div id="myTab0_container7" class="none"
											style="min-width: 75%; height: 600px; margin: 0 auto">
										</div>
										<div id="myTab0_container8" class="none"
											style="min-width: 75%; height: 600px; margin: 0 auto">
										</div>
										<div id="myTab0_container9" class="none"
											style="min-width: 75%;height: 600px; margin: 0 auto">
										</div>
										<div id="myTab0_container10" class="none"
											style="min-width: 75%; height: 600px; margin: 0 auto">
										</div>
									</div>
								</div>
							</div>
						</div>
						</div>
					</div>


				</div>
			</article>
			</center>
				</div>
			<!-- 选项卡结束 -->
		</div>
	</div>
<!--mian-->
<!--javascript-->
<%=javascript_include_tag"plugins/datepicker/bootstrap-datepicker"%>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script>
		$(document).ready(function() {
			$('.datepicker').datepicker();
		});
	</script>
<script language="JavaScript" type="text/javascript">
		//定义了Branch的二维数组，里面的顺序跟Platform的顺序是相同的。通过selectedIndex获得Platform的下标值来得到相应的Branch数组
		var Branch=[
			["kk44"],
			["kk44","kk44k314alpha1"],
			["kk44","kk44alpha2","kk44beta1","kk44beta2","lpre"],
			["jb43beta1","kk44","kk44k310beta1","kk44k310beta2","kk44k310beta3"],
			["kk44"]
		];
		function getBranch(){
			//获得Platform下拉框的对象
			var sltPlatform=document.form1.Platform;
			//获得Branch下拉框的对象
			var sltBranch=document.form1.Branch;
			//得到对应Platform的Branch数组
			var PlatformBranch=Branch[sltPlatform.selectedIndex - 1];
			//清空Branch下拉框，仅留提示选项
			sltBranch.length=1;
			//将Branch数组中的值填充到Branch下拉框中
			 for(var i=0;i<PlatformBranch.length;i++){
			sltBranch[i+1]=new Option(PlatformBranch[i],PlatformBranch[i]);
			}
		}
	</script>
<script>
		$(function () {
			$('#myTab0_container0').highcharts({
				chart: {
					 type: 'column'
				 },
				title: {
				text: 'Compare power'
				},
				subtitle: {
				text: 'Source: WorldClimate.com'
				},
			xAxis: {
				categories: [
					'1080p',
					'720p',
					'VGA',
					'home',
					'standby',
					'FM',
					'KKR',
					'AngryBirds',
					'mp3',
				'Record_1080p(IMX219)'
				]
				},
				yAxis: {
					min: 5,
					title: {
					 text: 'power'
					}
				},
				 tooltip: {
					headerFormat: '<span style="font-size:5px">{point.key}</span><table>',
				pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
				'<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
					footerFormat: '</table>',
					shared: true,
					useHTML: true
				},
				plotOptions: {
					column: {
					pointPadding: 0.2,
					borderWidth: 0
					}
				},
					series: [{
						name: 'Tokyo',
						data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]

						 }, {
							name: 'New York',
							 data: [83.6, 78.8, 98.5, 93.4, 106.0, 84.5, 105.0, 104.3, 91.2, 83.5, 106.6, 92.3]
						}, {
							name: 'London',
							data: [48.9, 38.8, 39.3, 41.4, 47.0, 48.3, 59.0, 59.6, 52.4, 65.2, 59.3, 51.2]
						}, {
							name: 'lllee',
							data: [48.9, 38.8, 39.3, 41.4, 47.0, 48.3, 59.0, 59.6, 52.4, 65.2, 59.3, 51.2]
						},{
							name: 'Berlin',
						data: [42.4, 33.2, 34.5, 39.7, 52.6, 75.5, 57.4, 60.4, 47.6, 39.1, 46.8, 51.1]

						}]
					});
		});
	</script>
<script type="text/javascript">
	function nTabs(thisObj, Num) {
		if (thisObj.className == "active")
			return;
		var tabObj = thisObj.parentNode.id;
		var tabList = document.getElementById(tabObj)
				.getElementsByTagName("li");
		for (i = 0; i < tabList.length; i++) {
			if (i == Num) {
				thisObj.className = "active";
				document.getElementById(tabObj + "_container" + i).style.display = "block";

			} else {
				tabList[i].className = "normal";
				document.getElementById(tabObj + "_container" + i).style.display = "none";

			}
		}
	}
</script>
<!--javascript-->