<%= stylesheet_link_tag    "jquery-ui"%>
<%= stylesheet_link_tag    "ppat"%>
<!--top-->
<div id="top">
    <!-- Grid row-->
    <div class="row topcenter">
            <article class="span4">
                <input type="radio" name="radio_chart" value="thermal" checked="checked" onclick="show('thermal')">Thermal
                <input type="radio" name="radio_chart" value="battery" onclick="show('battery')">Battery
                <input id="editcheckboxId" type="checkbox">Edit Comments
            </article>
    </div>
    <!--Grid row-->
</div>
<!--top-->

<div class="container" role="main" id="thermal_record">
    <%= render :partial => 'index' %>
</div>
<div class="modal fade hide" id="dcInfoModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Thermal Info</h3>
    </div>
    <div class="modal-body" id="dc_info">
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-wuxia btn-primary" data-dismiss="modal">Close</a>
    </div>
</div>

<footer>
    <a class="btn btn-wuxia btn-primary" data-toggle="modal" href="#dcInfoModal" style="bottom:0;left:0;right:0;position: fixed;">Click to Show Thermal Info</a>

</footer>
<script language="javascript">

$(document).ready(function() {
   $('#datepicker').datepicker('setValue', new Date());
});
/* show footer Duty Cycle */
function show_dc(caseName, power,image_date){
    var task_url = "show_dc?scenario=" + caseName + "&battery=" + power + "&image_date=" + image_date;
    $.ajax({
        type: "GET",
        url: task_url,
        success: function(msg){
            $("footer").css("display","block");
            $("#dc_info").append(msg);
        }
    });
}

function show(chart_type){
    if(chart_type == "battery"){
        $("#chart_container_battery").css("display", "block");
        $("#chart_container_thermal").css("display", "none");
    }else{
        $("#chart_container_battery").css("display", "none");
        $("#chart_container_thermal").css("display", "block");
    }
}
</script>