<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Battery</th>
            <th>Vcc_main</th>
            <th>FPS</th>
        </tr>
    </thead>
    <tbody>
    <% @carts.record_list.each do |record| %>
        <tr>
            <td><%= get_record_info(record.power_record.id).battery %></td>
            <td><%= get_record_info(record.power_record.id).vcc_main %></td>
            <td><%= get_record_info(record.power_record.id).fps %></td>
            <td onclick="remove_from_cart('<%= record.id %>')"><span class="icon-remove"></span></td>
        </tr>
        <% end %>
    </tbody>
</table>
<script language="JavaScript">
function remove_from_cart(record_id){
    <% remove_from_cart(25) %>
}
</script>