<SCRIPT LANGUAGE="JavaScript">
function remove(id){
	$("#" + id).remove();
	if($("#dc_info").html().length == 3){//don't know why length is 3
		$('#dcInfoModal').modal('hide'); //has some issue when close multi duty cycle
		//$(".modal-backdrop fade in").remove();
	}
}

</SCRIPT>
<!-- page-container -->
<div class="page-container tab-content"  >

	<!-- Tab #basic -->
	<div class="tab-pane active">
		<!-- Grid row -->
		<div class="row">

			<!-- Page grid cell (6 blocks - full) -->
			<article class="span12" id="task">
				<!-- table of task list -->
				<%= render :partial => 'task_info' %>
				<!--/table of task list-->
			</article>
			<!-- scenario table of task -->
			<div id="task_scenario">
				<%= render :partial => 'scenario_info' %>
			</div>
		</div>
		<!-- /Grid row -->
	</div>
	<!-- Tab #basic -->


</div>
<!-- /page-container -->

<div class="modal fade hide" id="dcInfoModal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Duty Cycle</h3>
	</div>
	<div class="modal-body" id="dc_info">
	</div>
	<div class="modal-footer">
		<a href="#" class="btn btn-wuxia btn-primary" data-dismiss="modal">Close</a>
	</div>
</div>

<footer>
	<a class="btn btn-wuxia btn-primary" data-toggle="modal" href="#dcInfoModal" style="bottom:0;left:0;right:0;position: fixed;">Click to Show Duty Cycle Info</a>

</footer>