<?xml version="1.0" encoding="utf-8" ?>
<PPATConfig>


	<PowerAdvanced>
		<CaseName>DRX_GSM</CaseName>
		<Platform>pxa1L88dkb_def:pxa1L88dkb</Platform>
		<Category>Telephony</Category>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>DRX_default</CaseName>
		<Platform>pxa1L88dkb_def:pxa1L88dkb</Platform>
		<Category>Telephony</Category>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>DRX_LTE</CaseName>
		<Platform>pxa1L88dkb_def:pxa1L88dkb</Platform>
		<Category>Telephony</Category>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>DRX_TDS</CaseName>
		<Platform>pxa1L88dkb_def:pxa1L88dkb</Platform>
		<Category>Telephony</Category>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>FTP_DL_LTE</CaseName>
		<Platform>pxa1L88dkb_def:pxa1L88dkb</Platform>
		<Category>Telephony</Category>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>FTP_UL_LTE</CaseName>
		<Platform>pxa1L88dkb_def:pxa1L88dkb</Platform>
		<Category>Telephony</Category>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>FTP_DL_TDS</CaseName>
		<Platform>pxa1L88dkb_def:pxa1L88dkb</Platform>
		<Category>Telephony</Category>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>FTP_UL_TDS</CaseName>
		<Platform>pxa1L88dkb_def:pxa1L88dkb</Platform>
		<Category>Telephony</Category>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>VoiceCall_GSM</CaseName>
		<Platform>pxa1L88dkb_def:pxa1L88dkb</Platform>
		<Category>Telephony</Category>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>VoiceCall_default</CaseName>
		<Platform>pxa1L88dkb_def:pxa1L88dkb</Platform>
		<Category>Telephony</Category>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>VoiceCall_TDS</CaseName>
		<Platform>pxa1L88dkb_def:pxa1L88dkb</Platform>
		<Category>Telephony</Category>
	</PowerAdvanced>

	<PowerAdvanced>
		<CaseName>DRX_GSM</CaseName>
		<Platform>pxa1928dkb_tz:pxa1928dkb</Platform>
		<Category>Telephony</Category>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>DRX_LTE</CaseName>
		<Platform>pxa1928dkb_tz:pxa1928dkb</Platform>
		<Category>Telephony</Category>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>DRX_TDS</CaseName>
		<Platform>pxa1928dkb_tz:pxa1928dkb</Platform>
		<Category>Telephony</Category>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>FTP_DL_LTE</CaseName>
		<Platform>pxa1928dkb_tz:pxa1928dkb</Platform>
		<Category>Telephony</Category>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>FTP_UL_LTE</CaseName>
		<Platform>pxa1928dkb_tz:pxa1928dkb</Platform>
		<Category>Telephony</Category>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>FTP_DL_TDS</CaseName>
		<Platform>pxa1928dkb_tz:pxa1928dkb</Platform>
		<Category>Telephony</Category>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>FTP_UL_TDS</CaseName>
		<Platform>pxa1928dkb_tz:pxa1928dkb</Platform>
		<Category>Telephony</Category>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>VoiceCall_GSM</CaseName>
		<Platform>pxa1928dkb_tz:pxa1928dkb</Platform>
		<Category>Telephony</Category>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>VoiceCall_TDS</CaseName>
		<Platform>pxa1928dkb_tz:pxa1928dkb</Platform>
		<Category>Telephony</Category>
	</PowerAdvanced>


	<PowerAdvanced>
		<CaseName>Weixin_Chart_DoU</CaseName>
		<Category>DoU</Category>
		<Platform>pxa1928dkb_tz:pxa1928dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>UI_light_Read_DoU</CaseName>
		<Category>DoU</Category>
		<Platform>pxa1928dkb_tz:pxa1928dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>Standby_DoU</CaseName>
		<Category>DoU</Category>
		<Platform>pxa1928dkb_tz:pxa1928dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>Play_Music_DoU</CaseName>
		<Category>DoU</Category>
		<Platform>pxa1928dkb_tz:pxa1928dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>Play_Video_DoU</CaseName>
		<Category>DoU</Category>
		<Platform>pxa1928dkb_tz:pxa1928dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>Photograph_DoU</CaseName>
		<Category>DoU</Category>
		<Platform>pxa1928dkb_tz:pxa1928dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>WiFi_Browse_DoU</CaseName>
		<Category>DoU</Category>
		<Platform>pxa1928dkb_tz:pxa1928dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>WiFi_Download_DoU</CaseName>
		<Category>DoU</Category>
		<Platform>pxa1928dkb_tz:pxa1928dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>SMS_Send_DoU</CaseName>
		<Category>DoU</Category>
		<Platform>pxa1928dkb_tz:pxa1928dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>MMS_Send_DoU</CaseName>
		<Category>DoU</Category>
		<Platform>pxa1928dkb_tz:pxa1928dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>Tomcat_DoU</CaseName>
		<Category>DoU</Category>
		<Platform>pxa1928dkb_tz:pxa1928dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>Mo_Call_DoU</CaseName>
		<Category>DoU</Category>
		<Platform>pxa1928dkb_tz:pxa1928dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>Mobile_Internet_Download_DoU</CaseName>
		<Category>DoU</Category>
		<Platform>pxa1928dkb_tz:pxa1928dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>Mobile_Internet_Browse_DoU</CaseName>
		<Category>DoU</Category>
		<Platform>pxa1928dkb_tz:pxa1928dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>Live_Streaming</CaseName>
		<Category>CMCC</Category>
		<Platform>pxa1928dkb_tz:pxa1928dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>Weixi</CaseName>
		<Category>CMCC</Category>
		<Platform>pxa1928dkb_tz:pxa1928dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>Video_Recording</CaseName>
		<Category>CMCC</Category>
		<Platform>pxa1928dkb_tz:pxa1928dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>Camera</CaseName>
		<Category>CMCC</Category>
		<Platform>pxa1928dkb_tz:pxa1928dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>FM_CMCC</CaseName>
		<Category>CMCC</Category>
		<Platform>pxa1928dkb_tz:pxa1928dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>PS_Download</CaseName>
		<Category>CMCC</Category>
		<Platform>pxa1928dkb_tz:pxa1928dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>Video_Playback</CaseName>
		<Category>CMCC</Category>
		<Platform>pxa1928dkb_tz:pxa1928dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>BT_On_CMCC</CaseName>
		<Category>CMCC</Category>
		<Platform>pxa1928dkb_tz:pxa1928dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>BT_Conn_CMCC</CaseName>
		<Category>CMCC</Category>
		<Platform>pxa1928dkb_tz:pxa1928dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>Video_Playback</CaseName>
		<Category>CMCC</Category>
		<Platform>pxa1928dkb_tz:pxa1928dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>Video_Playback</CaseName>
		<Category>CMCC</Category>
		<Platform>pxa1928dkb_tz:pxa1928dkb</Platform>
	</PowerAdvanced>


	<PowerAdvanced>
		<CaseName>Weixin_Chart_DoU</CaseName>
		<Category>DoU</Category>
		<Platform>pxa1908dkb_tz:pxa1908dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>UI_light_Read_DoU</CaseName>
		<Category>DoU</Category>
		<Platform>pxa1908dkb_tz:pxa1908dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>Standby_DoU</CaseName>
		<Category>DoU</Category>
		<Platform>pxa1908dkb_tz:pxa1908dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>Play_Music_DoU</CaseName>
		<Category>DoU</Category>
		<Platform>pxa1908dkb_tz:pxa1908dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>Play_Video_DoU</CaseName>
		<Category>DoU</Category>
		<Platform>pxa1908dkb_tz:pxa1908dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>Photograph_DoU</CaseName>
		<Category>DoU</Category>
		<Platform>pxa1908dkb_tz:pxa1908dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>WiFi_Browse_DoU</CaseName>
		<Category>DoU</Category>
		<Platform>pxa1908dkb_tz:pxa1908dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>WiFi_Download_DoU</CaseName>
		<Category>DoU</Category>
		<Platform>pxa1908dkb_tz:pxa1908dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>SMS_Send_DoU</CaseName>
		<Category>DoU</Category>
		<Platform>pxa1908dkb_tz:pxa1908dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>MMS_Send_DoU</CaseName>
		<Category>DoU</Category>
		<Platform>pxa1908dkb_tz:pxa1908dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>Tomcat_DoU</CaseName>
		<Category>DoU</Category>
		<Platform>pxa1908dkb_tz:pxa1908dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>Mo_Call_DoU</CaseName>
		<Category>DoU</Category>
		<Platform>pxa1908dkb_tz:pxa1908dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>Mobile_Internet_Download_DoU</CaseName>
		<Category>DoU</Category>
		<Platform>pxa1908dkb_tz:pxa1908dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>Mobile_Internet_Browse_DoU</CaseName>
		<Category>DoU</Category>
		<Platform>pxa1908dkb_tz:pxa1908dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>Live_Streaming</CaseName>
		<Category>CMCC</Category>
		<Platform>pxa1908dkb_tz:pxa1908dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>Weixi</CaseName>
		<Category>CMCC</Category>
		<Platform>pxa1908dkb_tz:pxa1908dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>Video_Recording</CaseName>
		<Category>CMCC</Category>
		<Platform>pxa1908dkb_tz:pxa1908dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>Camera</CaseName>
		<Category>CMCC</Category>
		<Platform>pxa1908dkb_tz:pxa1908dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>FM_CMCC</CaseName>
		<Category>CMCC</Category>
		<Platform>pxa1908dkb_tz:pxa1908dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>PS_Download</CaseName>
		<Category>CMCC</Category>
		<Platform>pxa1908dkb_tz:pxa1908dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>Video_Playback</CaseName>
		<Category>CMCC</Category>
		<Platform>pxa1908dkb_tz:pxa1908dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>BT_On_CMCC</CaseName>
		<Category>CMCC</Category>
		<Platform>pxa1908dkb_tz:pxa1908dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>BT_Conn_CMCC</CaseName>
		<Category>CMCC</Category>
		<Platform>pxa1908dkb_tz:pxa1908dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>Video_Playback</CaseName>
		<Category>CMCC</Category>
		<Platform>pxa1908dkb_tz:pxa1908dkb</Platform>
	</PowerAdvanced>
	<PowerAdvanced>
		<CaseName>Video_Playback</CaseName>
		<Category>CMCC</Category>
		<Platform>pxa1908dkb_tz:pxa1908dkb</Platform>
	</PowerAdvanced>
</PPATConfig>