/*!
 * Walkin Pixels - Wuxia v1.0.0
 * www.walkingpixels.com
 * compare css
 */
form li{
	float:left;
	list-style-type: none;
	text-align: center;
	padding-left:10px;
}
li select{
	width: 150px;
}
.btn-wuxia {
	text-shadow: none;
	font-weight: bold;
	padding: 5px 5px 5px;
}