footer{
	bottom: 0;
	left:0;
	right:0;
	margin-top: 30px;
  	position: fixed;
  	display: none;
}
pre{
	display: inline-block;
}
table .power{
	table-layout:fixed;
        	word-wrap: break-word;
        	word-break:break-all;
        	text-align:center;
        	vertical-align:center;
}
.label-none-block {
	display:inline;
  margin-bottom: 5px;
}

.dropdown:hover .menu-top {
    display: block;
}

.dropdown-submenu{
    position:relative;
}

.dropdown-submenu > .dropdown-menu{
    top:0;
    left:100%;
    margin-top:-4px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu{
    display:block;
}

.dropdown-submenu > a:after{
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}

.dropdown-submenu:hover > a:after{
    border-left-color:#ffffff;
}

.dropdown-submenu .pull-left{
    float:none;
}

.dropdown-submenu.pull-left > .dropdown-menu{
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

.dropdown-submenu li {
    float: left;
    display: block;
    position: relative;
    margin-top: 3px;
}

ul.timeline {
    list-style-type: none;
    background: url("version_line.png") repeat-y scroll 120px 0 transparent;
    margin: 20px 0;
    padding: 0;
}
ul.timeline li {
     position: relative;
     margin-bottom: 20px;
 }
 ul.timeline li .time {
     position: absolute;
     width: 290px;
     text-align: right;
     left: -195px;
     font-size: 18px;
     line-height: 50px;
     color: #3594cb;
     overflow: hidden;
 }
 ul.timeline li .number {
     position: absolute;
     background: url("version_dot.png") no-repeat scroll 0 0 transparent;
     width: 56px;
     height: 56px;
     left: 97px;
     line-height: 56px;
     text-align: center;
     color: #fff;
     font-size: 18px;
 }
 ul.timeline li.alt .number {
    background-image: url("version_dot_alt.png");
 }
 ul.timeline li .contents {
    margin-left: 180px;
 }
 ul.timeline li .contents pre {
     background-color: #3594cb;
     padding: 10px;
     color: #fff;
     font-size: 13px;
     line-height: 20px;
 }
 ul.timeline li.alt .contents pre {
    background-color: #43B1F1;
 }
