/**
trigger css

**/
code {
    line-height: 32px;
}
label span {
    font-size: 24px;
    line-height: 36px;
}
.inline {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    cursor: pointer;
}
label .inline {
    width: 50px;
}
.input-xlarge {
    width: 370px;
}

.input-xxlarge {
    width: 800px;
}
form .control-group, .form-horizontal .control-group {
    padding: 10px;
    margin: 0;
}
.control-group .on_change{
    height:20%;
    position:absolute; top:40px; 
    list-style:none; 
    background:#FFF; 
    border:1px solid #73B8EE; 
    display:none; padding:0px;
    overflow:auto;
}
.control-group .on_change li{
    margin:4px;
    padding:4px;
}
 .on_change li:active{ 
    background:#CEE7FF;
}
.on_change li:hover{ 
    background:#CEE7FF;
    cursor:pointer;
}

select {
    border: 1px solid #BBB;
}

tr div {
    width: 200px;
    display: inline-block;
}

.table th {
    text-align: left;
    height: 30px;
}

.table td {
    text-align: left;
}

.category {
    width: 15%;
}

.case {
    width: 85%;
}

.tabletitle {
    display: inline-block;
    text-indent: 8px;
}

.testloop {
    width: 20px;
    text-align: center;
}
footer{
    display: block;
}
footer a{
    bottom: 0;
    left:0;
    right:0;
    position: fixed;
    display: block;
}